@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');

.button{
    -fx-background-color: white;
    -fx-border-color: #87553f;
    -fx-border-width: 2px;
    -fx-border-style: solid;
    -fx-font-family: 'Merienda';
    -fx-transition-duration: 0.4s;
}

.button:hover {
    -fx-background-color: #87553f;
    -fx-text-fill: white;
}

.text-field{
    -fx-border-color: #87553f;
    -fx-border-style: solid;
    -fx-border-width: 2px;
    -fx-font-family: 'Merienda';
}

.label{
    -fx-font-family: 'Merienda';
    -fx-text-fill: #87553f ;
    -fx-font-weight: bolder;
    -fx-effect: dropshadow(gaussian , white , 10 , 1.0 , 2 , 0) ;
}

.anchor{
    -fx-background-image: url("../graphics/background/leonardo0.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 600px, 400px;
}

.check-box{
    -fx-font-family: 'Marienda';
    -fx-text-fill: #87553f ;
    -fx-font-weight: bolder;
    -fx-effect: dropshadow(gaussian , white , 4 , 1.0 , 2 , 0) ;

}